<%- include("templates/encabezado") %>
<%- include("templates/menu") %>

<div id="fondo2">
  <div class="carrusel">
    <div class="slide">
      <img src="/web/imagenes/c3.jpg" alt="Imagen 1" class="imgCarrusel">
    </div>
    <div class="slide">
      <img src="/web/imagenes/c4.jpg" alt="Imagen 2" class="imgCarrusel">
    </div>
    <div class="slide">
      <img src="/web/imagenes/c5.jpg" alt="Imagen 3" class="imgCarrusel">
    </div>
  </div>
</div>

<%- include("templates/pie") %>