<%- include("templates/encabezado") %>

<div id="fondo" class="fondo">
    <div id="logo" class="logo">
        <img src="/web/imagenes/Logo2.png">
    </div>
    
    <div id="login" class="login">
            <form action="/login" method="post" id="formulario">
                <div>
                    <img src="/web/imagenes/perfil.jpg" width="200px">
                </div>
                <br>
                <div id="usu">
                    <label>Usuario</label>
                    <br>
                    <input type="text" name="usuario" id="usuario" autofocus>
                </div>
                <br>
                <div id="pass">
                    <label>Password</label>
                    <br>
                    <input type="password" name="password" id="password" >
                </div>
                <br>
                <div id="butt">
                    <button type="submit" id="button">Iniciar sesion</button>
                </div>
            </form>
            <a href="/registro"><button id="buttonReg">Registro</button></a>      
    </div>
</div>

<%- include("templates/pie") %>