<div class="img">
    <img src="/web/imagenes/banner_alumnos.png" alt="banner" class="img3">
</div>

<div class="header">
    <ul class="nav">
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="#">Pagos en linea</a>
            <ul>
                <li><a href="#">Reinscripcion</a></li>
                <li><a href="#">Otros pagos</a></li>
                <li><a href="#">Historial de pagos</a></li>
                <li><a href="#">Tramites de servicios escolares</a></li>
            </ul>
        </li>
        <li><a href="#">Calificaciones</a>
            <ul>
                <li><a href="#">Historial</a></li>
                <li><a href="#">Parcial Actual</a></li>
            </ul>
        </li>
        <li><a href="#">Academicos</a>
            <ul>
                <li><a href="#">Expediente</a></li>
                <li><a href="#">Curriculum Vitae</a></li>
                <li><a href="#">Cultura y Deporte</a></li>
                <li><a href="#">Estadias</a></li>
                <li><a href="#">Encuestas</a></li>
                <li><a href="#">Comunicate con Rectoria</a></li>
                <li><a href="#">Adeudos</a></li>
                <li><a href="#">Visitas Academicas</a></li>
                <li><a href="/reserva">Laboratorios</a></li>
                <li><a href="/mostrarReserva">Consultar Reserva</a></li>
            </ul>
        </li>
        <li><a href="#">Documentos Generales</a>
            <ul>
                <li><a href="#">Servicios escolares</a></li>
                <li><a href="#">Secretaria Academica</a></li>
                <li><a href="#">Vulnerabilidad</a></li>
            </ul>
        </li>
        <li><a href="/modificarUsuario">Configuracion de cuenta</a></li>
        <li><a href="/salir">Salir</a></li>
    </ul>
</div>